*{
    background-color: lightgray;
}

#canvas-container{


    width: 602px;
    height: 1200px;
    margin: auto;
    padding: auto;
    text-align: center;
    
   
}

#draw-area{
    border: 1px solid black;
    width: 600px;
    height: 600px;
    background-color: white;
}
#tool-container{
    width: 600px;
    height: 100px;

}
#colour-picker{
    width: 300px;
    height: 50px;
    float: left;
}
#red{
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    float: left;
}
#green{
    background-color: green;
    width: 50px;
    height: 50px;
    float: left;
}
#blue{
    background-color: blue;
    width: 50px;
    height: 50px;
    float: left;
}
#yellow{
    background-color: yellow;
    width: 50px;
    height: 50px;
    float: left;
}

#white{
    background-color: white;
    width: 50px;
    height: 50px;
    float: left;
}

#purple{
    background-color: purple;
    width: 50px;
    height: 50px;
    float: left;
}
#black{
    background-color: black;
    width: 50px;
    height: 50px;
    float: left;
}
#colour-wheel-div{
    
    width: 50px;
    height: 50px;
    float: left;
}
#colour-wheel{
    
    width: 50px;
    height: 50px;
}


#body-container{
    width: auto;
    height: auto;
}