<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div id="header"><div class="logo"><% include ../partials/logo.ejs %></div></div>
	<div class="page-container">
        <div class="card sidebar">
            
            <% if(session.loggedin){ %>
                <% alerts.forEach(function(alert){ %>
                    <%- include('../partials/alert.ejs', {message: alert[0], type: alert[1], icon: alert[2]}); %>
                <% }); %>
                <% include ../partials/profile.ejs %>
            <% } %>
            <% if(!session.loggedin){ %>
                <% include ../partials/login.ejs %>
            <% } %>
        </div>
        
            <div id='browse-wrapper'>
                <div class='card' id='browse-container'>
                    <div class='lobby-card'>
                        <div class='lobby-details'>
                            <div class='lobby-name'>Game 1</div>
                            <div class='lobby-status'>Open</div>
                        </div>
                    </div>
                    <div class='lobby-card lobby-2'>
                        <div class='lobby-details'>
                            <div class='lobby-name'>Game 2</div>
                            <div class='lobby-status'>Open</div>
                        </div>
                    </div>
                    <div class='lobby-card'>
                        <div class='lobby-details'>
                            <div class='lobby-name'>Game 3</div>
                            <div class='lobby-status'>Open</div>
                        </div>
                    </div>
                </div>
            </div>

        
      </div>
      
</body>

</html>