<!DOCTYPE html>

<html>
<body>
	<h1 style="font-family: cursive;"> Sketchy </h1>

	<form action="/login" method="post">
		<input type="text" name="uname" placeholder="User ID"> <br><br>
		<input type="password" name="pwd" placeholder="Password"> <br><br>
		<input type="submit" name="login" value="Login">
	</form>

</body>
</html>
