<!DOCTYPE html>

<html>
<body>
	<link rel="stylesheet" type="" href="stylesheets/LoginPage.css">
	<h1 style="font-family: cursive; color: white; "> Sketchy </h1>

	<form action="/login" method="post">
		<input type="text" name="uname" placeholder="Username"> <br>
		<input type="password" name="pwd" placeholder="Password"> <br>
		<input type="submit" name="login" value="Log in" id="logIn" > <br>
	</form>
	<br>
	<form action="/signup" method="post">
		<input type="submit" name="signUp" value=" Sign up and play " id="signUp">
	</form>

</body>
</html>
