<!DOCTYPE html>

<html>
<body>
	<link rel="stylesheet" type="" href="stylesheets/LoginPage.css">
	<h1 style="font-family: cursive; color: white; "> Sketchy </h1>

	<form action="/addUser" method="post">
		<p id="createAccount"> Oops, the username has been taken, please choose again:  </p>
		<input type="text" name="add_userName" placeholder="Username"> <br>
		<input type="password" name="add_password" placeholder="Choose Passward"> <br>
		<!-- <input type="password" name="confirm_password" placeholder="Confirm Passward"> <br> -->
 		<input type="submit" name="signUp" value="Sign Up">
	</form>

</body>
</html>